<div class="column">

  <div class="row">

    <div class="col-lg-4 col-md-6 mb-4 mt-4" *ngFor="let i of items; let ind = Index">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{i.title | uppercase}}</a>
          </h4>
          <h5>$ {{i.price}}</h5>
          <h5>Discounted amount ${{i.discount}}</h5>
          <p appHighlight highlightColor="yellow" class="card-text">{{i.description}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>

  </div>

</div>